@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(7,28,62);
    background: linear-gradient(310deg, rgba(7,28,62,1) 0%, rgba(12,40,82,1) 100%);
}

.heading {
    font: 800 60px Arial;
    text-transform: uppercase;
    text-indent: -1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #c57e5b;
    -webkit-text-stroke: 2px;
}
